.react-logo {
    position: relative;
    left: -78px;
    opacity: 0.6;
    top: 83px;
  }

  .task-card {
      overflow: hidden;
      border: black solid;
      margin: 3px;
  }

  .customize {
    float: left;
    width: 13.5%;
    border: 2px solid;
    margin: 4px
  }

  .day-name {
      text-align: center;
      font-family: fantasy;
  }

  .schedule {
      border: black 4px solid;
      background-color: cornflowerblue;
      height: 1000px;
      overflow: hidden;
  }

  .weekplan {
      text-align: center;
      font-weight: 700;
      padding: 50px;
      font-family: fantasy;
      background-color: brown darken-2;
  }

  .App {
      
      background-color: grey;
  }


  #clock {
      width: 1655px;
      margin-top: 30px;
      border-radius: 1%;
  }

.appinfo {
    background-image: url(pic.png);
    height: 850px; 
  }

  .appdetails {
      padding: 1px;
      color: white;
      font-size: large;
      text-align: center;
  }

  .digital-clock{
      color: rgb(236, 81, 164);
      border: double black 7px;
  }

