.react-logo {
    position: relative;
    left: -78px;
    opacity: 0.6;
    top: 83px;
  }

  .task-card {
      overflow: hidden;
      border: black solid;
      margin: 3px;
  }

  .customize {
    float: left;
    width: 13.5%;
    border: 2px solid;
    margin: 4px
  }

  .day-name {
      text-align: center;
      font-family: fantasy;
  }

  .schedule {
      border: black 4px solid;
      background-color: cornflowerblue;
      height: 1000px;
      overflow: hidden;
  }

  .weekplan {
      text-align: center;
      font-weight: 700;
      padding-top: 100px;
      background-color: grey;
  }

  .App {
      background-color:grey;
  }


  #clock {
      width: 1655px;
      margin-top: 30px;
      border-radius: 1%;
  }

  .about {
      background-image: url(pic.png);
      height: 850px;
  }

  .appinfo {
      opacity: 02;
      background-color: darkblue;
      
  }

