.react-logo {
    position: relative;
    left: -78px;
    opacity: 0.6;
    top: 83px;
  }

  .task-card {
      overflow: hidden;
      border: black solid;
      margin: 3px;
      background-color:rgb(245, 221, 116);
  }

  .customize {
    float: left;
    width: 13.5%;
    border: 2px solid;
    margin: 4px;
    background-color: dodgerblue
  }

  .day-name {
      text-align: center;
      font-family: fantasy;
  }

  .schedule {
      border: black 4px solid;
      height: 1000px;
      overflow: hidden;
      background-image: url(pattern3.png);
  }

  .weekplan {
      text-align: center;
      font-weight: 700;
      padding: 50px;
      font-family: fantasy; 
      
  }

  .App {
      
      background-color: grey;
  }


  #clock {
      width: 1655px;
      margin-top: 30px;
      border-radius: 1%;
  }

.appinfo {
    background-image: url(pic.png);
    height: 850px; 
  }

  .appdetails {
      padding: 1px;
      color: white;
      font-size: large;
      text-align: center;
  }

  .digital-clock{
      color: floralwhite;
      border: double black 7px;
      background-color: dodgerblue;
      }

  .error-div{
      background-color: crimson;
      color: cornsilk;
      font-size: large;
  }

  .showpage {
      height: 600px;
      width: 600px;
      margin-top: 100px;
      margin-bottom: 50px;
      text-align: center;
      color: whitesmoke;
      font-family: monospace;
      font-size: larger;
      font-weight: bolder;
      background-image: url(pic.png);
  }

  .taskdiv {
      padding: 20px
  }

  .footer {
      padding: 5px;
      color: whitesmoke;
      background-color: rgb(49, 48, 48);
      height: 105px;
  }

  html {
      background-color: grey;
  }


